.search-progress-bar {
  margin-top: -8px;
}

.search-box-form {
}

.search-box {
  width: 700px;
}

.search-results {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
}

.our-result {
  grid-column: 1;
}

.google-result {
  grid-column: 2;
}

.search-check-param {
  margin: 0 10px;
}

.search-param-section {
  display: flex;
}
